/* nav a {
    padding: 8px;
    text-decoration: none;
   /* margin-top: 10px; */
    /* color: #3d3d3d;
    float: right; */
    /* border-radius: 4px; 
  } */ 
/*   
.cart {
  float: right;
}


.logo:hover{
  background-color: green;
}

.user {
  float: right;
}

  nav a:hover {
    color: white;
    background-color: #42545C;
  }
  nav a.active {
    background-color: black;
  }

  button {
    border: none;
    background-color: transparent;
  }

  .cart a:hover {
    background-color: transparent;
  } */

  .navbar {
    margin: 0;

  }

  a {
    color: black;
    text-decoration: none;
  }

  .logo {
    float: left;
    text-decoration: none;
    color: black;
  }
  

  img {
    height: 120px;
    width: 120px;
    clip-path: circle();
  }

  .groom {
    background-color: transparent;
    border-style: none;
    color: black;
  }

  .sit {
    background-color: transparent;
    border-style: none;
    color: black;
    margin-left: 100px;
    margin-right: 100px;
  }

  .walk {
    background-color: transparent;
    border-style: none;
    color: black;
  }

  h2 {
    display: inline;
    padding-left: 20px;
  }

  .login {
    background-color: white;
    border-color: rgb(0, 136, 255);
    border-style: solid;
    margin-right: 20px;
  }

  .register {
    background-color: white;
    border-color: blue;
    border-style: solid;
  }


  
  
  .logo {
    float: left;
    text-decoration: none;
    color: black;
  }
  
  
  img {
    height: 120px;
    width: 120px;
    clip-path: circle();
  }
  
  .groom, .groom a {
    background-color: transparent;
    border-style: none;
    color: black;
    text-decoration: none;
  }
  
  .sit, .sit a{
    background-color: transparent;
    border-style: none;
    color: black;
    text-decoration: none;
    
  }
  
  .walk, .walk a {
    background-color: transparent;
    border-style: none;
    color: black;
    text-decoration: none;
  }
  
  /* h3 {
    display: inline-block;
    padding-left: 20px;
  } */
  
  .login {
    background-color: white;
    border-color: rgb(0, 136, 255);
    border-style: solid;
    margin-right: 20px;
  }
  
  .register {
    background-color: white;
    border-color: blue;
    border-style: solid;
  }

  .container {
    display: inline-block;
  }

