<nav>
  <div class="navbar navbar-light bg-warning shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <a routerLink="/dashboard">
        <strong class="logo" style="font-size: 30px;">ANIMAL HAUS</strong>
      </a>
    </div>
    <!-- SEARCH BAR <button class="user">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-pur my-2 my-sm-0" type="submit">Search</button>
      </form>
    </button> -->
    <div>
      <button type="button" class ="login" data-bs-toggle="modal" data-bs-target="#myModal">
        <a routerLink="/login">LOGIN</a>
      </button>
      <!-- <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
              <h3>LOGIN</h3> -->
                <!-- <label for = "username"> Username: </label><br> -->
                <!-- <input type = "text" id="username" placeholder="username"> 
                <br>
                <br> -->
                <!-- <label for = "password"> Password: </label><br> -->
                <!-- <input type = "text" id="password"  placeholder="password"> 
                <br>
            </div>
            </div></div></div> -->
      <button type="button" class ="register" data-bs-toggle="modal" data-bs-target="#myModal2">
        SIGN UP
      </button>
      <div class="modal" id="myModal2">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body" style="text-align:center;">
              <h3>CREATE AN ACCOUNT</h3>
              <div class="row">
                <div class="card col-md-6">
                <h5>CONTRACTOR</h5>
                <p>Looking to provide pet services in your area click below to register with us today!</p>
                <a routerLink="/register"><p>CONTRACTOR SIGN UP HERE!</p></a>
              </div>
                <!-- <label for = "username"> Username: </label><br> -->
                <!-- <input type = "text" id="username" placeholder="username">  -->
                <br>
                <br>
                <div class="card col-md-6">
                <h5>CUSTOMER</h5>
                <p>Searching for superb pet services near you? Click below to connect with us today!</p>
                <a routerLink="/register-customer"><p>CUSTOMER SIGN UP HERE!</p></a>
                </div>
                <!-- <label for = "password"> Password: </label><br> -->
                <!-- <input type = "text" id="password"  placeholder="password">  -->
                <br>
              </div>
            </div>
            </div></div></div>
    </div>
  </div>
  <div class="navbar navbar-light bg-warning shadow-sm justify-content-center">
    <div class="container d-flex justify-content-around">
    <div class="row">
      <div class="col-md-4">
    <button type="button" class="groom">  
      <a routerLink="/">
        <img alt="groom"  src="assets/images/groom.jpg">
        <h3 style="font-size: 2vw;">GROOMING</h3>
        </a>
    </button>  
  </div>
  <div class="col-md-4">
    <button type="button" class="sit">
      <a routerLink="/">
        <img alt="sit" src="assets/images/sit.jpg">
        <h3 style="font-size: 2vw;">PET DAYCARE</h3>
      </a>
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="walk">
      <a routerLink="/">
        <img alt="walk" src="assets/images/walk.jpg">
        <h3 style="font-size: 2vw;">PET WALKING</h3>
      </a>
    </button>
  </div>
</div>
  </div>
</div>
</nav>
