<div class="navbar navbar-light bg-warning shadow-sm">      
  <button type="button" class="groom">  
    <a routerLink="/">
      <!--<img src="assets/images/groom.jpg">-->
      <h2>GROOMING</h2>
      </a>
  </button>  
  <button type="button" class="sit">
    <a routerLink="/">
      <!--<img src="assets/images/sit.jpg">-->
      <h2>PET DAYCARE</h2>
    </a>
  </button>
  <button type="button" class="walk">
    <a routerLink="/">
      <!--<img src="assets/images/walk.jpg">-->
      <h2>PET WALKING</h2>
    </a>
  </button>
</div> 

  