/* .main {
    text-align: center;
     padding: 100px; 
   }
   
   
    a:hover {
     color: blue;
   } 
  
   .card {
     padding: 50px;
     margin: 45px;
     text-align: center;
     border-color: black;
  }
  
  .card img {
     width: 200px;
     height: 200px;
     margin-bottom: 15px;
     text-align:center;
  }
  
  button {
   border: none;
   background-color: transparent;
  }
  
  .user {
   float: left;
  }
  
  .card-basket {
   float: left;
  }
  
  .img {
   background-color: transparent;
   text-align: center;
  }
  
  a {
   text-decoration: none;
   color: black;
  } */

  img {
    height: 110px;
    width: 110px;
    clip-path: circle();
  }

  .groom {
    background-color: transparent;
    border-style: none;
  }

  .sit {
    background-color: transparent;
    border-style: none;
  }

  .walk {
    background-color: transparent;
    border-style: none;
  }

  h2 {
    display: inline;
    padding-left: 20px;
  }