
/* .main {
    text-align: center;
     padding: 100px; 
   }
   
   
    a:hover {
     color: blue;
   } 
  
   .card {
     padding: 50px;
     margin: 45px;
     text-align: center;
     border-color: black;
  }
  
  .card img {
     width: 200px;
     height: 200px;
     margin-bottom: 15px;
     text-align:center;
  }
  
  button {
   border: none;
   background-color: transparent;
  }
  
   .user {
   float: left;
  }
  
  .card-basket {
   float: left;
  }
   */

   body {
    background-image: url(/assets/images/paws.png);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
  }
   
    
    a {
     text-decoration: none;
     color: black;
    }
  
    .card {
      border-style: none;
      background-color: transparent;
     height: auto;
     width: 70%;
     position: relative;
    }
  
<<<<<<< HEAD
  a {
   text-decoration: none;
   color: black;

  } */

  img {
    height: 110px;
    width: 110px;
    clip-path: circle();
  }

  .groom {
    background-color: transparent;
    border-style: none;
  }

  .sit {
    background-color: transparent;
    border-style: none;
  }

  .walk {
    background-color: transparent;
    border-style: none;
  }

  h2 {
    display: inline;
    padding-left: 20px;

  }

  .card {
    border-style: none;
    background-color: transparent;
   height: auto;
   width: 70%;
   position: relative;
  }

  
  .card-img-overlay {
    background-color: yellow;
    opacity: .8;
    height: 40%;
    width: 60%;
    text-align: center;
    position: absolute;
    top: 50%;
  }

  h1 {
    font-size: 50px;
    line-height: 130%;

  }
=======
    
    .card-img-overlay {
      background-color: yellow;
      opacity: .8;
      height: 40%;
      width: 60%;
      text-align: center;
      position: absolute;
      top: 50%;
    }
  
    h1 {
      font-size: 50px;
      line-height: 130%;
    }
>>>>>>> origin/Aly
