<!-- <div class="navbar navbar-expand-sm bg-light shadow-sm">
    <div class="container-fluid">
        <div class="row mx-auto p-3">
            <div class="col-sm-3">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select City
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">Atlanta</a>
                      <a class="dropdown-item">New Orleans</a>
                      <a class="dropdown-item">New York</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-sm-4"></div>
            <br>
            <br>
            <div class="col-sm-3">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Service
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">Grooming</a>
                      <a class="dropdown-item">Daycare</a>
                      <a class="dropdown-item">Walking</a>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row justify-content-start">
        <ng-container *ngFor="let user of users">
            <div class="card col-sm-4 ml-4 mt-5">
                <div class="profile">
                    <img src="/assets/icons/person.png" alt="profileholder" style="height: 10em; width: 10em;">
                </div>
               <h4>Name: {{user.firstName}} {{user.lastName}}</h4> 
               <h4>Location: {{user.address}} </h4>
               <h6>About Me: {{user.aboutMe}}</h6>
            </div>
            <div class="card col-sm-1 mt-5 ml-5">
                <div class="service">
                    <img src="/assets/images/dog.png" alt="profileholder" style="height: 7em; width: 7em;">
                </div>
            </div>
            
            <div class="card col-sm-1 mt-5 mr-5">
               <h6>Service: {{user.service}}</h6> 
               <!-- <h6>Service Description: {{product.Description}}</h6> -->
               <!-- <h6>Price: {{user.price}}</h6> -->
            </div>
            <div class="card col-sm-2"></div>
            <div class="card col-sm-2 mt-5 p-5 ml-5 text-right">
              <button type="button" class="btn btn-lg text-nowrap" data-toggle="modal" data-target="#exampleModalCenter" style="background-color:#652CB3; color: white;">Book Service</button>
            </div>
            <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
                  <div class="modal-content text-center" style="background-color:#652CB3;">
                    <div class="modal-header"  style="border-style:none;">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="color: white;">
                        <h5>Thank you for using our services!</h5>
                        <h5>You have chosen to book services with. Please select your preferred day and time as well as
                            the pet that will receive the service.</h5>
                            <div class="container-fluid">
                                <div class="row mx-auto">
                                    <div class="col-sm-4">
                                        <div class="dropdown">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Day</option>
                                                <option value="1">Monday</option>
                                                <option value="2">Tuesday</option>
                                                <option value="3">Wednesday</option>
                                                <option value="4">Thursday</option>
                                                <option value="5">Friday</option>
                                                <option value="6">Saturday</option>
                                                <option value="7">Sunday</option>
                                              </select>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="col-sm-4">
                                        <div class="dropdown">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected>Time</option>
                                                <option value="1">8 am</option>
                                                <option value="2">9 am</option>
                                                <option value="3">10 am</option>
                                                <option value="4">11 am</option>
                                                <option value="5">12 pm</option>
                                                <option value="6">1 pm</option>
                                                <option value="7">2 pm</option>
                                              </select>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="col-sm-4">
                                        <div class="petname">
                                            <input type="text" class="form-control" id="pet" placeholder="Enter Pet Name" name="pet">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="modal-footer text-center"  style="border-style:none;">
                      <button type="button" class="btn btn-warning"><strong>Book Now</strong></button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
    </div>
</div>
