<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3" style="background-color:#652CB3; height: auto; color: white;">
                <br>
                <ul>
                    <li><h3>Account Details</h3></li>
                    <li><h3>Logout</h3></li>  <!--add button to acutally log out here-->
                    <li><h3>Delete Account</h3></li> <!--add button to delete account??-->
                </ul>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card" style="border-style: none;">
                <img src="/assets/images/dog-hug.jpg" alt="dog-hug" style="width: 75%;">
                <br>
                <br>
            </div>
                <!-- <div class="row justify-content-around">
                    <h3 style="text-align:right;">Your Services</h3>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card" style="border-style:none;">
                                    <img src="/assets/images/brushing-dog.jpg" alt="brush-dog" style="width: 16em;">  
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h6>Bath, Brush, Nail, Trim</h6>
                            </div>
                        </div>
                    </div>
                </div> -->
        </div>
        <div class="col-md-4 mt-5 mb-5">
            <h6>My Name</h6>
            <h6>Where I'm From</h6>
            <h6 class="text-justify" style="border: solid 1px;">I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only I groom cats only</h6>
            <div class="row justify-content-center">
                <div class="col-md-12 mt-5 text-center">
                    <h3>Your Services</h3>
                    <div class="row justify-content-center">
                <div class="col-md-6 mt-3">
                    <div class="card mt-3" style="border-style: none;">
                        <img src="/assets/images/dog-wash.jpg" alt="dog-wash" style="width: 16em;">
                    </div>
                </div>
                <div class="col-md-6 mt-3">
                    <h6 class="mt-3 text-center">Bath, Brush, Nail, Trim</h6>
                </div>
            </div>
            </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>