<div class="container">
<h1 style="text-align: center;">Create Contractor Account</h1>
<form>
    <div class="row  justify-content-center">
        <div class="col-6">
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email" placeholder="johndoe@example.com" name="email">
</div>

</div>
<div class="row  justify-content-center">
    <div class="col-6">
  <label for="password">Password</label>
  <input type="text" class="form-control" id="password" placeholder="********"  name="password">
    </div>
</div>
<div class="row  justify-content-center">
    <div class="col-6">
  <label for="passowrd">Confirm Password</label>
  <input type="text" class="form-control" id="cpassword" placeholder="********"  name="cpassword">
    </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col-6">
  <label for="fname">First Name</label>
  <input type="text" class="form-control" id="fname" placeholder="First Name"  name="fname">
</div>
</div>
<div class="row  justify-content-center">
    <div class="col-6">
  <label for="lname">Last Name</label>
  <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname">
</div>
</div>
<div class="row  justify-content-center">
    <div class="col-6">
  <label for="city">City</label>
  <input type="city" class="form-control" id="city" placeholder="City"  name="city">
</div>
</div>
<br>
<br>
<div class="row justify-content-center">
<div class="col-8">
    <label for="text">About Me</label>
      <textarea class="form-control" rows="5" cols="80" id="aboutme"></textarea>
    </div>
</div>
<br>
<br>
<div class="row justify-content-center">
  <h3>Availability</h3>
    <div class="col-md-6">
        <input type="checkbox" id="monday" name="monday" value="monday">
        <label for="monday">Monday</label><br>
        <input type="checkbox" id="tuesday" name="tuesday" value="tuesday">
        <label for="tuesday">Tuesday</label><br>
        <input type="checkbox" id="wednesday" name="wednesday" value="wednesday">
        <label for="wednesday">Wednesday</label><br>
        <input type="checkbox" id="thursday" name="thursday" value="thursday">
        <label for="thursday">Thursday</label><br>
        <input type="checkbox" id="friday" name="friday" value="friday">
        <label for="friday">Friday</label><br>
        <input type="checkbox" id="saturday" name="saturday" value="saturday">
        <label for="saturday">Saturday</label><br>
        <input type="checkbox" id="sunday" name="sunday" value="sunday">
        <label for="sunday">Sunday</label><br>
      </div>
    
      <div class="col-md-6">
        <input type="checkbox" id="8to10" name="8to10" value="8to10">
        <label for="8to10">8 AM to 10 AM</label><br>
        <input type="checkbox" id="10to12" name="10to12" value="10to12">
        <label for="10to12">10 AM to 12 PM</label><br>
        <input type="checkbox" id="12to2" name="12to2" value="12to2">
        <label for="12to2">12 PM to 2 PM</label><br>
        <input type="checkbox" id="2to4" name="2to4" value="2to4">
        <label for="2to4">2 PM to 4 PM</label><br>
        <input type="checkbox" id="4to6" name="4to6" value="4to6">
        <label for="4to6">4 PM to 6 PM</label><br>
      </div>
    </div>
      <div class="row">
        <div class="col-6">
        <h3>What services do you offer?</h3>
        <!-- <select name="Pet Services">
          <option value="select">Select Here</option>
          <option value="grooming">Pet Grooming</option>
          <option value="walking">Dog Walking</option>
          <option value="sit">Pet Sitting</option>
        </select> -->
        <!-- <label for="text">Service Description</label> -->
        <input type="checkbox" id="groom" name="groom" value="groom">
        <label for="groom">Pet Grooming</label><br>
        <input type="checkbox" id="walk" name="walk" value="walk">
        <label for="walk">Dog Walking</label><br>
        <input type="checkbox" id="sit" name="sit" value="sit">
        <label for="sit">Pet Sitting</label><br>
      </div>
        </div>
    

  
  
  <!-- <input type="textarea" class="form-control" id="aboutme" placeholder="Type here"  name="aboutMe"> -->

   <br>
   <div class="row">
     <input type="checkbox" id="terms" name="terms" value="terms">
     <label for="terms">By creating this account, I acknowledge that I have read and agree to the Animal Haus Terms and Conditions.</label>
   </div>
   <div class="row justify-content-center">
       <div class="col-6">
  <button type="button" class="btn btn-success">Create Account</button>
</div>
</div>
</form>
</div>