<h1>Register Contractor</h1>
<form #recievedUser="ngForm">

  <label for="name">firstName</label>
  <input type="text" class="form-control" id="fName" placeholder="user fname" [(ngModel)]="user.firstName" name="firstName">
  
  <label for="name">lastName</label>
  <input type="text" class="form-control" id="lNname" placeholder="user lname" [(ngModel)]="user.lastName" name="lastName">
  

  <label for="type">username</label>
  <input type="text" class="form-control" id="type" placeholder="type name" [(ngModel)]="user.userName" name="name">

  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="user.password" name="password">

  <label for="role">Role</label>
  <input type="role" class="form-control" id="role" placeholder="role" [(ngModel)]="user.userEnum" name="role">

  <label for="email">Email</label>
  <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="user.email" name="email">

  <label for="address">Address</label>
  <input type="address" class="form-control" id="address" placeholder="address" [(ngModel)]="user.address" name="address">
  <label for="text">About Me</label>
  <input type="text" class="form-control" id="aboutme" placeholder="address" [(ngModel)]="user.aboutMe" name="aboutMe">

  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
  <label for="vehicle1"> I aggree to the <a href="">term and condition</a></label>


   <br>
  <button type="button" class="btn btn-success" (click)="addContractor()">Save</button>
</form>
