<div class="container">
  <h1 style="text-align: center;">Create Contractor Account</h1>
  <form #recievedUser="ngForm">
      <div class="row  justify-content-center">
          <div class="col-6">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="johndoe@example.com" [(ngModel)]="user.email" name="email">
  </div>

    <div class="row  justify-content-center">
      <div class="col-6">
    <label for="userName">Username</label>
    <input type="text" class="form-control" id="userName" placeholder="username" [(ngModel)]="user.userName" name="email">
    </div>
  
  </div>
  <div class="row  justify-content-center">
      <div class="col-6">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" placeholder="********" [(ngModel)]="user.password" name="password">
      </div>
  </div>
  <!-- <div class="row  justify-content-center">
      <div class="col-6">
    <label for="passowrd">Confirm Password</label>
    <input type="text" class="form-control" id="cpassword" placeholder="********"  name="cpassword">
      </div>
      </div> -->
      <div class="row  justify-content-center">
          <div class="col-6">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" placeholder="First Name"   [(ngModel)]="user.firstName" name="fname">
  </div>
  </div>
  <div class="row  justify-content-center">
      <div class="col-6">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" placeholder="Last Name" [(ngModel)]="user.lastName" name="lname">
  </div>
  </div>

  <div class="row  justify-content-center">
    <div class="col-6">
  <label for="role">Role</label>
  <input type="text" class="form-control" id="role" placeholder="Role" [(ngModel)]="user.role" name="lname">
</div>
</div>
  <div class="row  justify-content-center">
      <div class="col-6">
    <label for="city">City</label>
    <input type="city" class="form-control" id="city" placeholder="City"  [(ngModel)]="user.address" name="city">
  </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-center">
  <div class="col-8">
      <label for="aboutme">About Me</label>
        <textarea class="form-control" rows="5" cols="80" id="aboutme" [(ngModel)]="user.aboutMe"></textarea>
      </div>
  </div>

<br>
<br>
  
<div class="d-flex flex-column justify-content-center">
    <div class="p-2"> 
      <h3>Availability</h3>
        <select name="timeofweek">
          <option value="selectweek" [(ngModel)]="user.day">Select Time of Week</option>
          <option *ngFor="let day of days">{{day}}</option><br>
        </select>
      </div>
      <div class="p-2">
        <select name="timeofday" [(ngModel)]="user.time">
        <option value="selectday">Select Time of Day</option>
        <option *ngFor="let time of times">{{time}}</option><br>
      </select>
      </div>
   
        <div class="p-2">
          <h3>What services do you offer?</h3>
        </div>
        <select name="Pet Services">
          <option value="select" [(ngModel)]="user.service">Select Service</option>
          <option *ngFor="let service of services">{{service}}</option>
        </select>
        <!-- <label for="text">Service Description</label> -->
        <!-- <input type="checkbox" id="groom" name="groom" value="groom">
        <label for="groom">Pet Grooming</label><br>
        <input type="checkbox" id="walk" name="walk" value="walk">
        <label for="walk">Dog Walking</label><br>
        <input type="checkbox" id="sit" name="sit" value="sit">
        <label for="sit">Pet Sitting</label><br> -->
      </div>
      </div>
        <!-- </div> -->
      <!-- </div> -->
      
    

  
  
  <!-- <input type="textarea" class="form-control" id="aboutme" placeholder="Type here"  name="aboutMe"> -->

   <br>
   <div class="row">
     <input type="checkbox" id="terms" name="terms" value="terms">
     <label for="terms">By creating this account, I acknowledge that I have read and agree to the Animal Haus <a href="/assets/files/Customer_Terms-and-Conditions.docx">Terms and Conditions.</a></label>
    </div>
   <div class="row justify-content-center">
       <div class="col-6">
  <button type="button" class="btn btn-success">Create Account</button>
  </div>
</div>

</form>
</div>